*{
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid red; */
}


aside{
    position: fixed;
}











/* Mediaquery */
/* @media only screen and (max-width: 480px){

}


@media (min-width: 481px) and (max-width: 1023px){

}

@media (min-width: 1024px){

} */